# Exploring NYC Public School Test Result Scores

![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [9]:
import pandas as pd
import numpy as np

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# My code starts below this line

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [10]:
# Which NYC schools have the best math results?

# subsetting columns
best_math_schools = schools[['school_name','average_math']] 
# subsetting rows by average_math column greater than 80%
best_math_schools = best_math_schools[best_math_schools['average_math'] >= 0.8*800]
# sorting values descending
best_math_schools = best_math_schools.sort_values('average_math', ascending=False)

print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [11]:
# What are the top 10 performing schools based on the combined SAT scores?

# inserting new column - sum of average_math, average_reading and average_writing column
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']
# creating new DataFrame
top_10_schools = schools
# subseting columns
top_10_schools = top_10_schools[['school_name','total_SAT']]
# sorting values by total_SAT column descending and subsetting only 10 first rows
top_10_schools = top_10_schools.sort_values('total_SAT', ascending=False)[:10]

print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [12]:
# Which single borough has the largest standard deviation in the combined SAT score?

# creating new DataFrame
SAT_by_borough = schools
# group by borough: count schools, mean and standar devation of total SAT and round to two decimal places
SAT_by_borough = SAT_by_borough.groupby('borough').agg({'school_name': 'count', 'total_SAT': ['mean','std']}).round(2)
# make DataFrame with single borough which has largest standard devation SAT score
largest_std_dev = SAT_by_borough[SAT_by_borough[('total_SAT','std')] == SAT_by_borough[('total_SAT','std')].max()]
# rename columns
largest_std_dev.columns = ['num_schools', 'average_SAT', 'std_SAT']

print(largest_std_dev)

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29